{% extends 'base.html' %} {% block content%}
<!-- Header-->
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">Shopping cart</h1>
      <p class="lead fw-normal text-white-50 mb-0">View your cart</p>
    </div>
  </div>
</header>
<br />
<div class="container">
  {%if cart_products%} {%for product in cart_products%}
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4 text-center">
        <!-- Align image to center -->
        <img
          src="{{ product.image.url }}"
          class="img-fluid rounded-start"
          alt="Product Image"
        />
      </div>
      <div class="col-md-8">
        <div class="card-body text-center">
          <!-- Align card text to center -->
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">{{ product.description }}</p>
          {% if product.is_sale %}
          <div class="d-flex justify-content-center small text-warning mb-2">
            <div class="bi-star-fill"></div>
            Sale!
            <div class="bi-star-fill"></div>
          </div>
          <strike>${{ product.price }}</strike>
          &nbsp;${{ product.sale_price }} 
          {% else %} 
          ${{ product.price }} 
          {% endif %}
          <!-- Corrected endif syntax -->
          <br />
          <div class="row justify-content-center">
            <div class="col-md-2">Quantity:</div>
            <div class="col-md-2">
              <select class="form-select form-select-sm" id="qty-cart">
                {% for key, value in quantities.items %} 
                  {% if key == product.id|slugify %}
                    <option selected>{{value}}</option>
                  {% endif %} 
                {% endfor %}
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
            </div>
          </div>
          <!-- <a href="{% url 'home' %}" class="btn btn-secondary">Home</a> Styled home button -->
          <!-- <button type="button" class="btn btn-secondary" value="{{product.id}}" id="add-cart" >Add to Cart</button> -->
        </div>
      </div>
    </div>
  </div>
  {%endfor%} 
  {%else%} 
  
  There's nothing in your cart... 
  
  {%endif%}
</div>
<br /><br /><br />
<br /><br />
<br /><br />
<br /><br />

<!-- Section-->

{%endblock%}
